[submodule "emulate"]
	path = emulate
	url = https://github.com/BLamy/emulate.git
[submodule "packages/docstream"]
	path = packages/docstream
	url = git@github.com:BLamy/docstream.git
[submodule "packages/docstream-editor"]
	path = packages/docstream-editor
	url = git@github.com:BLamy/docstream-editor.git
